{erl_opts, [debug_info]}.

{deps, [
    {mtproto_proxy, {git, "https://github.com/seriyps/mtproto_proxy.git", {branch, "master"}}},
    {ranch, "2.2.0"},
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"}
]}.

{src_dirs, [
    "src",
    "apps/kpproton_portal/src/http",
    "apps/kpproton_portal/src/token",
    "apps/kpproton_portal/src/integrations/resend",
    "apps/kpproton_proxy/src/registry",
    "apps/kpproton_proxy/src/provisioning",
    "apps/kpproton_proxy/src/mtproto"
]}.

{relx, [
    {release, {kpproton, "0.1.0"}, [kpproton, {mtproto_proxy, load}, sasl]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.
